.idea/
__pycache__/
tags
*.pyc
access.log
uwsgi_dev.conf
*.xls
*.xlsx
.mypy_cache
tmp/
uwsgi.log
*.log
.csv
.txt
.qiniu_pythonsdk_hostscache.json
head_url/
.vscode/
uploads/
__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/outputs
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json
