<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>404</title>
  <link rel="stylesheet" href="/static/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/reset.min.css">
  <link rel="stylesheet" href="/static/css/404.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="container">
  <h1>404</h1>
  <p>{{ message }}</p>
  </div>
  <!-- partial -->
  <script src="/static/js/deps/vue.global.js"></script>
  <script src="/static/js/404.js"></script>
</body>

</html>